<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
    <h1>Welcome to the Klossy Kalculator! How many days have you been alive?</h1>

  </body>
</html>
