<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
    <h1>Welcome to the Upperline Calculator! Figure out how many days you have been alive!</h1>

  </body>
</html>
